*{
    position: relative;
}
.apps-list{
    list-style: none;
    overflow: hidden;
    margin: auto;
    padding: 0;
}

.app-item{
    float: left;
    width: 101px;
    height: 120px;
    margin: 6px;
    box-shadow: 0 0 3px grey;
    transition: all 0.2s;
}
.app-item:hover{
    box-shadow: 2px 2px 6px 2px lightgrey;
}
.app-href{
    text-decoration: none;
    display: block;
    overflow: hidden;
    height: 100%;
}
.app-icon{
    display: block;
    height: 100px;
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
}
.app-icon > img{
    width: 100%;
}
.app-name{
    width: 100%;
    display: block;
    height: 28px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}