{% extends "layout.twig" %}
{% import 'MACROS.twig' as MACROS %}
{% block style_tags %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="">
    <link rel="stylesheet" href="{{ MACROS.appsSiteName }}/src/style/apps.css"/>
{% endblock %}
{% block body %}
    <h3>
        应用列表
    </h3>
    <ul class="apps-list">
        <li class="app-item">
            <a class="app-href" href="#">
                <span class="app-icon"><img src="https://www.google.com/logos/doodles/2018/the-geminid-meteor-shower-2018-5112685963247616.2-s.png"/></span>
                <span class="app-name">谷歌搜索</span>
            </a>
        </li>
        <li class="app-item">
            <a class="app-href" href="#">
                <span class="app-icon"><img src="https://www.google.com/logos/doodles/2018/the-geminid-meteor-shower-2018-5112685963247616.2-s.png"/></span>
                <span class="app-name">谷歌搜索</span>
            </a>
        </li>
        <li class="app-item">
            <a class="app-href" href="#">
                <span class="app-icon"><img src="https://www.google.com/logos/doodles/2018/the-geminid-meteor-shower-2018-5112685963247616.2-s.png"/></span>
                <span class="app-name">谷歌搜索</span>
            </a>
        </li>
    </ul>
{% endblock %}