{% extends "layout.twig" %}
{% import 'MACROS.twig' as MACROS %}
{% block style_tags %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="">
    <link rel="stylesheet" href="{{ MACROS.appsSiteName }}src/style/apps.css"/>
    <link rel="stylesheet" href="{{ MACROS.appsSiteName }}src/bootstrap/css/bootstrap.min.css"/>

{% endblock %}

{% block body %}
    <div class="main-content">
        <h1>{{ data.message }}</h1>

    </div>
    <style>
        .main-content{
            padding: 10px;
        }
    </style>


{% endblock %}